* {
    margin: 0;
    padding: 0
    ;
}

.green {
    background-color: rgb(40, 40, 132);
    color: rgb(226, 111, 39);
}

.box {
    padding: 10px;
    margin: auto;
    height: 100vh;
   
}
.nav{
    margin: auto;
    padding: 5px;
    height: 2hv;
    width: auto;
    border: solid red;
}
.nav_elements{
    margin: auto;
    display: inline-block;
    padding: 5px;
    height: 2hv;
    width: auto;
    border: solid blue;
}

.footer{
    margin: auto;
    padding: 10px;
    height: 5vh;
    width: auto;
    border: solid blueviolet;
    display: flex;
    justify-content: right;
}

.header{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 5px;
    height: 2hv;
    width: auto;
}